@mixin icon-defaults($font) {
    -webkit-font-smoothing: antialiased;
    font-family: #{$font} !important;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    text-transform: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
}

@mixin icon($className, $font) {
    .#{$className} {
        @include icon-defaults($font);
        font-variation-settings: 'FILL' #{'1'}, 'wght' #{'400'}, 'GRAD' #{'0'}, 'opsz' #{'48'};

        &--LG {
            @include icon-defaults($font);
            font-variation-settings: 'FILL' #{'1'}, 'wght' #{'400'}, 'GRAD' #{'0'}, 'opsz' #{'48'};
            font-size: 3rem;
            line-height: 3rem;
        }

        &-outlined {
            @include icon-defaults($font);
            font-variation-settings: 'FILL' #{'0'}, 'wght' #{'400'}, 'GRAD' #{'0'}, 'opsz' #{'48'};

            &--LG {
                @include icon-defaults($font);
                font-variation-settings: 'FILL' #{'0'}, 'wght' #{'400'}, 'GRAD' #{'0'}, 'opsz' #{'48'};
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }
}
