@page "/spotify-demo"
@layout SpotifyLayout
@inject IJSRuntime JSRuntime

<section class="flex-row align-items--start overflow-x--auto padding">
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-1.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Bee Gees: Odessa</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-2.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Flamin’ Groovies: Supersnazz</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-3.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Jefferson Airplane: Long John Silver</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/anonymous.jpg" alt="" class="image shape--round" />
        </div>
        <small class="typography--body-x-small typography--bold">Paula Ruela</small>
        <small class="text-neutral typography--body-x-small typography--uppercase">2.069.420 Followers</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-4.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Nick Lowe: Jesus of Cool/Pure Pop for Now People</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-5.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Parliament: Mothership Connection</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-6.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Rolling Stones: Beggars Banquet</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/albums/album-7.webp" alt="" class="image shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Cars: Candy-O</small>
    </a>
    <a class="padding neutral-10 state--hover state--active button flex-column align-items--center width--150px min-width--150px">
        <div>
            <img src="img/anonymous.jpg" alt="" class="image shape--round" />
        </div>
        <small class="typography--body-x-small typography--bold">Chris Curtois</small>
        <small class="text-neutral typography--body-x-small typography--uppercase">176.432 Followers</small>
    </a>
</section>

@code {

}
