@page "/color-system"
@using System.Globalization
<PageTitle>Colors</PageTitle>

<div class="animation-opacity--from-opaque">
    <section class="desktop-container typography-block padding">
        <h4>Background color and accents</h4>
        <div class="neutral-variant-90 shape padding grid gap user-select--none align-items--center">
        @for(int i = 0; i < _colors.Length; i++)
        {
            <div class="tablet-span--3 align-items--center gap flex-row">
                <div class="icon padding shape--round @_colors[i] state--hover state--active">&nbsp;</div>
                <h5 class="text-@_colors[i] state--hover state--active">@_colors[i]</h5>
            </div>
            <div class="tablet-span--9 grid">
                @for(var t = 0; t < 110; t = t + 10)
                {
                    <div class="mobile-landscape-span--@(t == 50 ? "2" : "1") @_colors[i]-@t state--hover state--active padding flex-row align-items--center justify-content--center">@t</div>
                }
            </div>
        }
        </div>
    </section>
</div>
@code {
    string[] _colors = new string[] { "primary", "secondary", "tertiary", "neutral", "neutral-variant", "error" };
}