@page "/typography-system"
@using System.Collections;
<PageTitle>Typography</PageTitle>
<div class="animation-opacity--from-opaque">
    <section class="desktop-container padding desktop-margin-top--large">
        <h2>Typography</h2>
	    <p>
            A type scale is a selection of font styles that can be used across an app, ensuring a flexible, yet consistent, style that accommodates a range of purposes. The BEM:aterial type scale is a combination of 7 styles, each with an intended application and meaning. They’re assigned based on use (such as display or headline), and grouped more broadly into categories based on scale (such as large or small). BEM:aterial’s default type scale uses Roboto for all titles and body text, creating a cohesive typography experience.
        </p>
    </section>
    <section class="desktop-container mobile-landscape-padding-horizontal margin-top--x-large">
        <div class="grid gap neutral-90 padding mobile-landscape-padding--x-large mobile-landscape-shape">
            <div class="background shape padding tablet-padding--large display--flex flex-direction--row align-items--center justify-content--center">
                <h1 class="typography--display typography--truncate">Display</h1>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <h2 class="typography--headline-large typography--truncate">Headline</h2>
                <small class="tertiary-70 padding--small padding-vertical--x-small margin-left--medium shape--x-small">L</small>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <h3 class="typography--headline-medium typography--truncate">Headline</h3>
                <small class="tertiary-70 padding--small padding-vertical--x-small margin-left--medium shape--x-small">M</small>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <h4 class="typography--headline-small typography--truncate">Headline</h4>
                <small class="tertiary-70 padding--small padding-vertical--x-small margin-left--medium shape--x-small">S</small>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <h5 class="typography--title typography--truncate">Title</h5>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <p class="typography--body typography--truncate">Body (p, div, span etc)</p>
            </div>
            <div class="neutral-100 shape padding tablet-padding--large mobile-portrait-span--6 tablet-span--4 display--flex flex-direction--row align-items--center justify-content--center">
                <small class="typography--body-small typography--truncate">Body small (small)</small>
                <small class="tertiary-70 padding--small padding-vertical--x-small margin-left--medium shape--x-small">S</small>
            </div>
        </div>
    </section>
    @*<section class="typography-block desktop-container padding">
		<h1 class="typography--truncate">Quam ob rem tandem, inquit, non satisfacit?</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc, quod agimus; <code>Haec quo modo conveniant, non sane intellego.</code> <b>Qui potest igitur habitare in beata vita summi mali metus?</b> Duo Reges: constructio interrete. </p>

		<dl>
			<dt><dfn>Praeteritis, inquit, gaudeo.</dfn></dt>
			<dd>Idem fecisset Epicurus, si sententiam hanc, quae nunc Hieronymi est, coniunxisset cum Aristippi vetere sententia.</dd>
			<dt><dfn>Tu quidem reddes;</dfn></dt>
			<dd>Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet.</dd>
			<dt><dfn>Frater et T.</dfn></dt>
			<dd>Aliena dixit in physicis nec ea ipsa, quae tibi probarentur;</dd>
			<dt><dfn>Quid enim?</dfn></dt>
			<dd>Respondent extrema primis, media utrisque, omnia omnibus.</dd>
			<dt><dfn>Stoicos roga.</dfn></dt>
			<dd>Quare attende, quaeso.</dd>
			<dt><dfn>Quare attende, quaeso.</dfn></dt>
			<dd>Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.</dd>
			<dt><dfn>Si longus, levis.</dfn></dt>
			<dd>Primum cur ista res digna odio est, nisi quod est turpis?</dd>
		</dl>


		<h2 class="typography--truncate">Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc?</h2>

		<p>Sed utrum hortandus es nobis, Luci, inquit, an etiam tua sponte propensus es? <a href="http://loripsum.net/" target="_blank">Illi enim inter se dissentiunt.</a> Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset. Mihi autem nihil tam perspicuum videtur, quam has sententias eorum philosophorum re inter se magis quam verbis dissidere; Nec enim, omnes avaritias si aeque avaritias esse dixerimus, sequetur ut etiam aequas esse dicamus. Haec quo modo conveniant, non sane intellego. Nam nisi hoc optineatur, id solum bonum esse, quod honestum sit, nullo modo probari possit beatam vitam virtute effici. Est enim perspicuum nullam artem ipsam in se versari, sed esse aliud artem ipsam, aliud quod propositum sit arti. Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. Sed cum ea, quae praeterierunt, acri animo et attento intuemur, tum fit ut aegritudo sequatur, si illa mala sint, laetitia, si bona. </p>

		<ul>
			<li>Dicimus aliquem hilare vivere;</li>
			<li>Sunt etiam turpitudines plurimae, quae, nisi honestas natura plurimum valeat, cur non cadant in sapientem non est facile defendere.</li>
			<li>Tu vero, inquam, ducas licet, si sequetur;</li>
			<li>Istam voluptatem perpetuam quis potest praestare sapienti?</li>
			<li>Videamus igitur sententias eorum, tum ad verba redeamus.</li>
		</ul>

		<dl>
			<dt><dfn>Facete M.</dfn></dt>
			<dd>Ut in voluptate sit, qui epuletur, in dolore, qui torqueatur.</dd>
			<dt><dfn>Memini vero, inquam;</dfn></dt>
			<dd>Hosne igitur laudas et hanc eorum, inquam, sententiam sequi nos censes oportere?</dd>
			<dt><dfn>Facete M.</dfn></dt>
			<dd>Quasi ego id curem, quid ille aiat aut neget.</dd>
			<dt><dfn>Haeret in salebra.</dfn></dt>
			<dd>Quo plebiscito decreta a senatu est consuli quaestio Cn.</dd>
			<dt><dfn>Sed haec omittamus;</dfn></dt>
			<dd>Quacumque enim ingredimur, in aliqua historia vestigium ponimus.</dd>
		</dl>

		<blockquote cite="http://loripsum.net">
			Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit.
		</blockquote>

		<p>Huic Epicurus praecentet, si potest, cui e viperino morsu venae viscerum Veneno inbutae taetros cruciatus cient! Sic Epicurus: Philocteta, st! brevis dolor. Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius. Est enim effectrix multarum et magnarum voluptatum. Nullum inveniri verbum potest quod magis idem declaret Latine, quod Graece, quam declarat voluptas. Rationis enim perfectio est virtus; Quid ergo dubitamus, quin, si non dolere voluptas sit summa, non esse in voluptate dolor sit maximus? <code>Quia dolori non voluptas contraria est, sed doloris privatio.</code> E quo efficitur, non ut nos non intellegamus quae vis sit istius verbi, sed ut ille suo more loquatur, nostrum neglegat. Tu quidem reddes; Tantum dico, magis fuisse vestrum agere Epicuri diem natalem, quam illius testamento cavere ut ageretur. </p>

		<ol>
			<li>Tum Torquatus: Prorsus, inquit, assentior;</li>
			<li>Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est?</li>
			<li>Idem fecisset Epicurus, si sententiam hanc, quae nunc Hieronymi est, coniunxisset cum Aristippi vetere sententia.</li>
			<li>Est autem a te semper dictum nec gaudere quemquam nisi propter corpus nec dolere.</li>
		</ol>

		<ol>
			<li>Hanc quoque iucunditatem, si vis, transfer in animum;</li>
			<li>Hoc ne statuam quidem dicturam pater aiebat, si loqui posset.</li>
			<li>Deprehensus omnem poenam contemnet.</li>
			<li>Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus;</li>
		</ol>

		<h3 class="typography--truncate">Deinceps videndum est</h3>
		<p>Quae dici eadem de ceteris virtutibus possunt, quarum omnium fundamenta vos in voluptate tamquam in aqua ponitis. Deinceps videndum est, quoniam satis apertum est sibi quemque natura esse carum, quae sit hominis natura. <a href="http://loripsum.net/" target="_blank">Ita multa dicunt, quae vix intellegam.</a> Restant Stoici, qui cum a Peripateticis et Academicis omnia transtulissent, nominibus aliis easdem res secuti sunt. <a href="http://loripsum.net/" target="_blank">Quare conare, quaeso.</a> Sed existimo te, sicut nostrum Triarium, minus ab eo delectari, quod ista Platonis, Aristoteli, Theophrasti orationis ornamenta neglexerit. Quam vellem, inquit, te ad Stoicos inclinavisses! erat enim, si cuiusquam, certe tuum nihil praeter virtutem in bonis ducere. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Illa enim, quae prosunt aut quae nocent, aut bona sunt aut mala, quae sint paria necesse est. Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum putabit? Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. <i>Expectoque quid ad id, quod quaerebam, respondeas.</i> Nam Pyrrho, Aristo, Erillus iam diu abiecti. </p>

		<blockquote cite="http://loripsum.net">
			Quid turpius quam sapientis vitam ex insipientium sermone pendere?
		</blockquote>

		<p>Chrysippus autem exponens differentias animantium ait alias earum corpore excellere, alias autem animo, non nullas valere utraque re; Nulla erit controversia. <a href="http://loripsum.net/" target="_blank">Universa enim illorum ratione cum tota vestra confligendum puto.</a> Dic in quovis conventu te omnia facere, ne doleas. <b>Proclivi currit oratio.</b> <b>Ita credo.</b> Non est ista, inquam, Piso, magna dissensio. <b>Sed ego in hoc resisto;</b> Si sapiens, ne tum quidem miser, cum ab Oroete, praetore Darei, in crucem actus est. Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet. Ex quo, id quod omnes expetunt, beate vivendi ratio inveniri et comparari potest. </p>

		<h3 class="typography--truncate">Ego vero volo in virtute vim esse quam maximam;</h3>

		<p>Quarum cum una sit, qua mores conformari putantur, differo eam partem, quae quasi stirps ets huius quaestionis. Num igitur dubium est, quin, si in re ipsa nihil peccatur a superioribus, verbis illi commodius utantur? Et quoniam haec deducuntur de corpore quid est cur non recte pulchritudo etiam ipsa propter se expetenda ducatur? <i>Huius ego nunc auctoritatem sequens idem faciam.</i> <code>Addidisti ad extremum etiam indoctum fuisse.</code> Primum cur ista res digna odio est, nisi quod est turpis? Satis est ad hoc responsum. Non enim, si malum est dolor, carere eo malo satis est ad bene vivendum. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. Vides igitur te aut ea sumere, quae non concedantur, aut ea, quae etiam concessa te nihil iuvent. Nam qui valitudinem aestimatione aliqua dignam iudicamus neque eam tamen in bonis ponimus, idem censemus nullam esse tantam aestimationem, ut ea virtuti anteponatur. <b>Quis Aristidem non mortuum diligit?</b> </p>

		<p>Sumenda potius quam expetenda. <a href="http://loripsum.net/" target="_blank">Quod vestri non item.</a> <i>Egone quaeris, inquit, quid sentiam?</i> Is cum arderet podagrae doloribus visitassetque hominem Charmides Epicureus perfamiliaris et tristis exiret, Mane, quaeso, inquit, Charmide noster; Sed et illum, quem nominavi, et ceteros sophistas, ut e Platone intellegi potest, lusos videmus a Socrate. <b>Negat esse eam, inquit, propter se expetendam.</b> Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant? Nam diligi et carum esse iucundum est propterea, quia tutiorem vitam et voluptatem pleniorem efficit. Vide, ne etiam menses! nisi forte eum dicis, qui, simul atque arripuit, interficit. Non autem hoc: igitur ne illud quidem. </p>

		<h4>Huic mori optimum esse propter desperationem sapientiae.</h4>
		<p>Nam de summo mox, ut dixi, videbimus et ad id explicandum disputationem omnem conferemus. Perturbationes autem nulla naturae vi commoventur, omniaque ea sunt opiniones ac iudicia levitatis. <i>Immo videri fortasse.</i> <code>Traditur, inquit, ab Epicuro ratio neglegendi doloris.</code> Quae in controversiam veniunt, de iis, si placet, disseramus. Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Age nunc isti doceant, vel tu potius quis enim ista melius? His enim rebus detractis negat se reperire in asotorum vita quod reprehendat. <i>De vacuitate doloris eadem sententia erit.</i> Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. </p>

		<p>In qua si nihil est praeter rationem, sit in una virtute finis bonorum; <mark>Ergo hoc quidem apparet, nos ad agendum esse natos.</mark> At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Modo etiam paulum ad dexteram de via declinavi, ut ad Pericli sepulcrum accederem. Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura postulet. Nosti, credo, illud: Nemo pius est, qui pietatem-; </p>

		<pre>Itaque non discedit ab eorum curatione, quibus praeposita
		vitam omnem debet gubernare, ut mirari satis istorum
		inconstantiam non possim.

		Illi propter spem vivere.
		</pre>

		<h5 class="typography--truncate">Aeque tuens iustitia dicitur</h5>
		<p>Societatem coniunctionis humanae munifice et aeque tuens iustitia dicitur, cui sunt adiunctae pietas, bonitas, liberalitas, benignitas, comitas, quaeque sunt generis eiusdem. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. <code>Quid sequatur, quid repugnet, vident.</code> <i>Nulla erit controversia.</i> Quo studio cum satiari non possint, omnium ceterarum rerum obliti níhil abiectum, nihil humile cogitant; Laelius clamores sofòw ille so lebat Edere compellans gumias ex ordine nostros. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. <a href="http://loripsum.net/" target="_blank">Num quid tale Democritus?</a> Atque omnia quidem scire, cuiuscumque modi sint, cupere curiosorum, duci vero maiorum rerum contemplatione ad cupiditatem scientiae summorum virorum est putandum. Nam quibus rebus efficiuntur voluptates, eae non sunt in potestate sapientis. </p>

		<pre>Aut pertinacissimus fueris, si in eo perstiteris ad corpus
		ea, quae dixi, referri, aut deserueris totam Epicuri
		voluptatem, si negaveris.

		Plane idem, inquit, et maxima quidem, qua fieri nulla maior
		potest.
		</pre>

		<ul>
			<li>Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.</li>
			<li>Et hanc quidem primam exigam a te operam, ut audias me quae a te dicta sunt refellentem.</li>
			<li>Videsne quam sit magna dissensio?</li>
			<li>Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae.</li>
		</ul>
	</section>*@
</div>

