@page "/typography-system"
@using System.Collections;
<PageTitle>Typography</PageTitle>

<div class="max-width--LG margin-left--auto margin-right--auto animation-from--opaque">
	<article class="padding">
		<h2 class="typo-headline--LG">Typography</h2>
		<p class="typo-body">
			A type scale is a selection of font styles that can be used across an app, ensuring a flexible, yet consistent, style that accommodates a range of purposes. The BEM:aterial type scale is a combination of 7 styles, each with an intended application and meaning. They’re assigned based on use (such as display or headline), and grouped more broadly into categories based on scale (such as large or small). BEM:aterial’s default type scale uses Roboto for all titles and body text, creating a cohesive typography experience.
		</p>
	</article>
	<figure class="display--grid columns--12 gap margin--none LG-margin-left LG-margin-right padding padding-top--XL padding-bottom--XL LG-padding--XL background--neutral-90 LG-shape--SM">
		<h1 class="span margin--none typo-display padding--LG background--neutral-variant-100 text--neutral-variant-20 align--center elevation-shadow--z1">Display</h1>
		<div class="span MD-span--4 display--flex align-items--center justify-content--center padding background--neutral-variant-100 text--neutral-variant-20 align--center elevation-shadow--z1">
			<h2 class="margin--none typo-headline--LG">Headline</h2>
			<mark class="margin-left typo-body--SM padding--XXS padding-left--SM padding-right--SM shape--XXS background--tertiary-40 text--neutral-100 elevation-shadow--z1">
				<strong>L</strong>
			</mark>
		</div>
		<div class="span MD-span--4 display--flex align-items--center justify-content--center padding background--neutral-variant-100 text--neutral-20 align--center elevation-shadow--z1">
			<h3 class="margin--none typo-headline--MD">Headline</h3>
			<mark class="margin-left typo-body--SM padding--XXS padding-left--SM padding-right--SM shape--XXS background--tertiary-40 text--neutral-100 elevation-shadow--z1">
				<strong>M</strong>
			</mark>
		</div>
		<div class="span MD-span--4 display--flex align-items--center justify-content--center padding background--neutral-variant-100 text--neutral-20 align--center elevation-shadow--z1">
			<h4 class="margin--none typo-headline--SM">Headline</h4>
			<mark class="margin-left typo-body--SM padding--XXS padding-left--SM padding-right--SM shape--XXS background--tertiary-40 text--neutral-100 elevation-shadow--z1">
				<strong>S</strong>
			</mark>
		</div>
		<h5 class="display--flex align-items--center justify-content--center margin--none span typo-title padding--LG background--neutral-100 text--neutral-variant-20 align--center elevation-shadow--z1">Title</h5>
		<p class="span MD-span--6 display--flex direction--column align-items--center justify-content--center margin--none typo-body padding background--neutral-100 text--neutral-variant-20 elevation-shadow--z1">
			<strong class="margin-bottom--XS">Body</strong>
			<span>The quick brown fox jumps over the lazy dog.</span>
		</p>
		<p class="span MD-span--6 display--flex direction--column align-items--center justify-content--center margin--none typo-body--SM padding background--neutral-100 text--neutral-variant-20 elevation-shadow--z1">
			<span class="margin-bottom--XS">
				<strong>Body</strong>
				<mark class="margin-left typo-body--SM padding--XXS padding-left--SM padding-right--SM shape--XXS background--tertiary-40 text--neutral-100 elevation-shadow--z1">
					<strong>S</strong>
				</mark>
			</span>
			<span>The quick brown fox jumps over the lazy dog.</span>
		</p>
	</figure>
</div>
