@import "../system/unit";

@mixin border($prefix: '', $default: var(--unit-xx-small), $mods: (top, right, bottom, left)) {
    @if $prefix != '' {
        $prefix: #{$prefix}-;
    }

    .#{$prefix}border {
        border-width: #{$default};
        border-style: solid;

        @each $name, $unit in $system-units {
            &--#{$name} {
                border-width: #{$unit};
                border-style: solid;
            }
        }

        &--none {
            border: none;
        }

        @each $mod in $mods {
            &-#{$mod} {
                border-#{$mod}-width: #{$default};
                border-#{$mod}-style: solid;

                @each $name, $unit in $system-units {
                    &--#{$name} {
                        border-#{$mod}-width: #{$unit};
                        border-#{$mod}-style: solid;
                    }
                }

                &--none {
                    border-#{$mod}: none;
                }
            }
        }
    }
}
