@mixin button-defaults() {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    line-height: var(--line-height);
    background-color: transparent;
    color: inherit;
    user-select: none;
    text-decoration: none;
    width: auto;
    cursor: pointer;
}
@mixin button($prefix: '') {
    @if($prefix == '') {
        .#{$prefix}button {
            @include button-defaults();
            min-width: 3rem;
            min-height: 3rem;

            &-width {
                &--auto {
                    width: auto;
                }
            }

            &--small {
                @include button-defaults();
                min-width: 2rem;
                min-height: 2rem;
            }
        }
    }
}
