@import "../system/breakpoint-system";

@mixin container($prefix: '') {
    @if $prefix != '' {
        $prefix: #{$prefix}-;
    }

    .#{$prefix}container {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @if $prefix != '' {
            $tmp: str-slice(#{$prefix}, 1, -2);
            max-width: breakpoint($tmp);
        }
    }
}