@mixin overflow($prefix: '', $mods: [auto, clip, hidden, revert, scroll, visible]) {
    @if $prefix != '' {
        $prefix: #{$prefix}-;
    }

    .#{$prefix}overflow {
        @each $mod in $mods {
            &--#{$mod} {
                overflow: #{$mod};
            }

            &-x--#{$mod} {
                overflow-x: #{$mod};
            }

            &-y--#{$mod} {
                overflow-y: #{$mod};
            }
        }
    }
}
