@import "../system/typography";

@mixin typography($prefix: '') {
    @if $prefix != '' {
        $prefix: #{$prefix}-;
    }

    .#{$prefix}typography {
        @each $name, $val, $unit in $system-typography {
            &--#{$name} {
                font-size: var(--typography-#{$name});
                font-weight: var(--typography-#{$name}-weight);
                margin: 0;
            }

            &-line-height {
                &--#{$name} {
                    line-height: var(--typography-#{$name});
                }
            }
        }

        &-block {
            display: block;
            max-width: 100%;

            > :first-child {
                margin-top: 0;
            }
        }

        &--truncate {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &--no-wrap {
            white-space: nowrap;
        }

        &--bold {
            font-weight: bold;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        @content;
    }
}