@mixin visibility($prefix: '') {
    @if $prefix != '' {
        $prefix: #{$prefix}-;
    }

    .#{$prefix}hidden {
        display: none;
    }

    .#{$prefix}visible {
        display: revert;
    }
}
