@page "/"
@using System.Globalization
<PageTitle>BEM:aterial</PageTitle>

<section class="animation-opacity--from-opaque desktop-container padding desktop-margin-top--large typography-block">
    <h2>BEM:aterial</h2>
	<p>
        A highly customizable, reusable CSS design system.
    </p>
    <h3>Examples</h3>
    <ul>
        <li><a href="spotify-example" class="button text-primary text-secondary-state--hover state--active padding--small">Spotify UI Kit</a></li>
    </ul>
</section>

