@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IIntersectionObserverService ObserverService
@implements IDisposable
<IntersectionObserve>
	<div class="display--flex direction--column flex--1">
		<header class="@(context.IsIntersecting ? "elevation-shadow--z2": "elevation-shadow--z0") display--grid columns--12 padding--XXS padding-top--SM padding-bottom--SM position--sticky top--0 background--primary text--primary-100 elevation--z5">
			<div class="span--7 display--flex direction--row align-items--center">
				<button @onclick="() => _drawerOpen = !_drawerOpen" class="icon cursor--pointer user-select--none background--transparent border--none text--inherit padding--SM shape--max background__active--primary-40">@(_drawerOpen ? "menu_open" : "menu")</button>
				<a href="index" class="user-select--none decoration--none text--inherit typo--truncate">
					<span class="typo-headline--SM padding-left--XS">BEM:aterial</span>
				</a>
			</div>
		</header>
		<main @ref="context.Ref.Current">
			@Body
		</main>
	</div>
</IntersectionObserve>

@if(_drawerOpen)
{
	<aside @onclick="() => _drawerOpen = false" class="position--fixed padding padding-top--max top--0 height--100vh width--stretch background--modal elevation--z4">
		<div @onclick:stopPropagation="true" class="animation-from--left padding--XS gap--XXS max-width--XS height--stretch overflow-y--auto background--neutral-100 elevation-shadow--z16 shape display--grid columns--12 align-content--start">
			<NavLink href="color-system" class="display--flex direction--row gap align-items--center span user-select--none decoration--none text--primary-0 padding--SM shape--XS LG-background__hover--neutral-90 background__active--primary-80 LG-background__active--neutral-80 text__active--primary LG-text__active--neutral-0 typo--truncate" ActiveClass="background__selected--primary-90 text__selected--primary">
				<i class="icon--outlined">palette</i>
				<span class="typo-body">Color</span>
			</NavLink>
			<NavLink href="typography-system" class="display--flex direction--row gap align-items--center span user-select--none decoration--none text--primary-0 padding--SM shape--XS LG-background__hover--neutral-90 background__active--primary-80 LG-background__active--neutral-80 text__active--primary LG-text__active--neutral-0 typo--truncate" ActiveClass="background__selected--primary-90 text__selected--primary">
				<i class="icon--outlined">format_size</i>
				<span class="typo-body">Typography</span>
			</NavLink>
		</div>
	</aside>	
}
<AnchorNavigation />

@code {
	private ElementReference _observer;
	private bool _drawerOpen { get; set; } = false;

	protected override void OnInitialized()
	{
		NavManager.LocationChanged += OnLocationChanged;
		base.OnInitialized();
	}

	private void OnLocationChanged(object? src, LocationChangedEventArgs e)
	{
		_drawerOpen = false;
		StateHasChanged();
	}

	public void Dispose()
	{
		NavManager.LocationChanged -= OnLocationChanged;
	}
}
	
