@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<div class="display--flex flex-direction--column background flex--1 max-width--100vw user-select--none">
	<header class="position-sticky--top elevation--z4 neutral-20 grid gap--x-small align-items--center padding-horizontal--x-small padding-vertical--small">
		<nav class="span--3">
			<button @onclick="@(async () => await JSRuntime.InvokeVoidAsync("history.back"))" class="button icon shape--round neutral-20 state--hover state--active">arrow_back</button>
		</nav>
        <h1 class="span--6 text-align--center typography--title" tabindex="-1">Spotify demo</h1>
	</header>
	<main class="neutral-10 flex--1 padding-bottom--x-large user-select--none">
		@Body
	</main>
	<footer class="neutral-20 grid align-items--center elevation--z4">
        <nav class="grid align-items--start">
            <div class="neutral-20 grid border-bottom border-neutral-40 gap--x-small padding--x-small align-items--center">
                <nav class="span--2">
                    <button class="button icon neutral-20 shape--round text-tertiary-50 state--hover state--active">favorite</button>
                </nav>
                <div class="span--8 text-align--center typography--truncate">
                    <span class="typography--body-small typography--bold">Lorem Ipsum</span> - <span class="typography--body-small">dolor sit amen</span>
                    <div class="text-neutral typography--body-x-small">consectetur adipiscing</div>
                </div>
                <nav class="span--2 display--flex flex-direction--row justify-content--end">
                    <button class="button neutral-20 shape--round state--hover state--active icon--outlined">play_circle</button>
                </nav>
            </div>
            <a class="span--4 neutral-20 state--hover state--active button display--flex flex-direction--column gap--xx-small align-items--center justify-content--center padding--small padding-top">
                <i class="icon--outlined">home</i>
                <div class="text-align--center typography--body-small">Home</div>
            </a>
            <a class="neutral-20 text-neutral-100 state--hover state--active span--4 button display--flex flex-direction--column gap--xx-small align-items--center justify-content--center padding--small padding-top">
                <i class="icon--outlined padding-horizontal padding-vertical--xxx-small shape--large tertiary-30">search</i>
                <div class="text-align--center typography--body-small">Search</div>
            </a>
            <a class="span--4 neutral-20 state--hover state--active button display--flex flex-direction--column gap--xx-small align-items--center justify-content--center padding--small padding-top">
                <i class="icon--outlined">more_vert</i>
                <div class="text-align--center typography--body-small">More</div>
            </a>
        </nav>
    </footer>
</div>
<AnchorNavigation />

@code {
	
}
	
