@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<div class="flex-column background flex--fill">
	<header class="position-sticky--top elevation--z4 neutral-20 grid gap--x-small align-items--center padding-horizontal--x-small padding-vertical--small">
		<nav class="span--3">
			<button @onclick="@(async () => await JSRuntime.InvokeVoidAsync("history.back"))" class="button icon shape--round neutral-20 state--hover state--active">arrow_back</button>
		</nav>
        <h1 class="span--6 text-align--center typography--title" tabindex="-1">Spotify UI Kit example</h1>
	</header>
	<main class="neutral-20 flex--fill padding-bottom--x-large">
		@Body
	</main>
</div>
<AnchorNavigation />

@code {
	
}
	
