@import "system/typography-system";
@import "system/unit-system";
@import "system/color-system";
@import "system/breakpoint-system";
@import "normalization";


:root {
    @include typography-variables();
    @include unit-variables();
    @include color-variables();
    @include breakpoint-variables();
}

@include normalization() {
    #app {
        width: 100%;
        min-height: 100vh;

        main {
            overflow-y: hidden;
        }
    }

    @import "components";
}