@page "/spotify-demo"
@layout SpotifyLayout
@inject IJSRuntime JSRuntime

<PageTitle>BEM:aterial</PageTitle>

<section class="grid gap--small padding">
    <button class="button shape--x-small overflow--hidden state--hover state--active span--6 neutral-20 min-height--0vh">
        <img src="img/albums/album-3.webp" alt="" class="image width--50px" />
        <small class="padding-horizontal--small typography--body-x-small typography--bold typography--truncate">Jefferson Airplane: Long John Silver</small>
    </button>
    <button class="button shape--x-small overflow--hidden state--hover state--active span--6 neutral-20 min-height--0vh">
        <img src="img/albums/album-1.webp" alt="" class="image width--50px" />
        <small class="padding-horizontal--small typography--body-x-small typography--bold typography--truncate">The Bee Gees: Odessa</small>
    </button>
    <button class="button shape--x-small overflow--hidden state--hover state--active span--6 neutral-20 min-height--0vh">
        <img src="img/albums/album-4.webp" alt="" class="image width--50px" />
        <small class="padding-horizontal--small typography--body-x-small typography--bold typography--truncate">Nick Lowe: Jesus of Cool/Pure Pop for Now People</small>
    </button>
    <button class="button shape--x-small overflow--hidden state--hover state--active span--6 neutral-20 min-height--0vh">
        <img src="img/anonymous.jpg" alt="" class="image width--50px" />
        <div class="display--flex flex-direction--column align-items--start padding-horizontal--small">
            <small class="typography--body-x-small typography--bold">Chris Curtois</small>
            <small class="text-neutral typography--body-x-small typography--uppercase typography--truncate">176.432 Followers</small>
        </div>
    </button>
</section>
<section class="typography-block padding">
    <h4 class="typography--headline-small">New releases</h4>
</section>
<section class="display--flex flex-direction--row gap align-items--start overflow-x--auto padding scroll-snap-type--x-proximity scroll-padding">
    <a class="scroll-snap-align--start shape--small neutral-1 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-1.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Bee Gees</small>
        <small class="typography-block typography--body-x-small typography--truncate">Odessa</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-2.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Flamin’ Groovies</small>
        <small class="typography-block typography--body-x-small typography--truncate">Supersnazz</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-3.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Jefferson Airplane</small>
        <small class="typography-block typography--body-x-small typography--truncate">Long John Silver</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--center display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/anonymous.jpg" alt="" class="image shape--round" />
        </div>
        <small class="typography--body-x-small typography--bold">Paula Ruela</small>
        <small class="typography-block text-neutral typography--body-x-small typography--uppercase typography--truncate">2.069.420 Followers</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-4.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Nick Lowe</small>
        <small class="typography-block typography--body-x-small typography--truncate">Jesus of Cool/Pure Pop for Now People</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-5.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Parliament</small>
        <small class="typography-block typography--body-x-small typography--truncate">Mothership Connection</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-6.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Rolling Stones</small>
        <small class="typography-block typography--body-x-small typography--truncate">Beggars Banquet</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--start display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/albums/album-7.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Cars</small>
        <small class="typography-block typography--body-x-small typography--truncate">Candy-O</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button align-items--center display--flex flex-direction--column width--150px min-width--150px">
        <div>
            <img src="img/anonymous.jpg" alt="" class="image state--active shape--round" />
        </div>
        <small class="typography--body-x-small typography--bold">Chris Curtois</small>
        <small class="typography-block text-neutral typography--body-x-small typography--uppercase typography--truncate">176.432 Followers</small>
    </a>
</section>

<section class="typography-block padding">
    <h4 class="typography--headline-small">Recently played</h4>
</section>
<section class="display--flex flex-direction--row gap align-items--start overflow-x--auto padding scroll-snap-type--x-proximity scroll-padding">
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column align-items--start width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-7.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Cars</small>
        <small class="typography-block typography--body-x-small typography--truncate">Candy-O</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-2.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Flamin’ Groovies</small>
        <small class="typography-block typography--body-x-small typography--truncate">Supersnazz</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-1 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-1.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Bee Gees</small>
        <small class="typography-block typography--body-x-small typography--truncate">Odessa</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-4.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Nick Lowe</small>
        <small class="typography-block typography--body-x-small typography--truncate">Jesus of Cool/Pure Pop for Now People</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-5.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Parliament</small>
        <small class="typography-block typography--body-x-small typography--truncate">Mothership Connection</small>

    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-6.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Rolling Stones</small>
        <small class="typography-block typography--body-x-small typography--truncate">Beggars Banquet</small>
    </a>
    <a class="scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column width--150px min-width--150px align-items--start">
        <div>
            <img src="img/albums/album-3.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Jefferson Airplane</small>
        <small class="typography-block typography--body-x-small typography--truncate">Long John Silver</small>
    </a>
</section>
<section class="typography-block padding">
    <h4 class="typography--headline-small">Albums</h4>
</section>
<section class="grid gap scroll-snap-type--y-mandatory padding">
    <a class="span--6 mobile-landscape-span--4 tablet-span--3 desktop-span--2 scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column align-items--start">
        <div>
            <img src="img/albums/album-4.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Nick Lowe</small>
        <small class="typography-block typography--body-x-small typography--truncate">Jesus of Cool/Pure Pop for Now People</small>
    </a>
    <a class="span--6 mobile-landscape-span--4 tablet-span--3 desktop-span--2 scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column align-items--start">
        <div>
            <img src="img/albums/album-5.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Parliament</small>
        <small class="typography-block typography--body-x-smal typography--truncate">Mothership Connection</small>
    </a>
    <a class="span--6 mobile-landscape-span--4 tablet-span--3 desktop-span--2 scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column align-items--start">
        <div>
            <img src="img/albums/album-6.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">The Rolling Stones</small>
        <small class="typography-block typography--body-x-small typography--truncate">Beggars Banquet</small>
    </a>
    <a class="span--6 mobile-landscape-span--4 tablet-span--3 desktop-span--2 scroll-snap-align--start shape--small neutral-10 button display--flex flex-direction--column align-items--start">
        <div>
            <img src="img/albums/album-3.webp" alt="" class="image state--active shape--small" />
        </div>
        <small class="typography--body-x-small typography--bold">Jefferson Airplane</small>
        <small class="typography-block typography--body-x-small typography--truncate">Long John Silver</small>
    </a>
</section>

@code {

}
